main {
  font-size: 1.2rem;
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

code {
  background-color: lightskyblue;
  padding: 4px 8px;
  border-radius: 5px;
}

.public-path {
  background-color: lavenderblush;
  border: 1px dotted #d4a800;
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li > ul {
  margin-top: 10px;
}

footer {
  display: inline-block;
  padding: 8px 24px;

  background-color: salmon;
  color: darkslategray;

  font-family:
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  font-size: 1rem;
  font-weight: 800;
}